DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
SECRET_KEY=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject
# Password for the 'elastic' user (at least 6 characters)
ELASTICSEARCH_HOST=
ELASTIC_USER=
ELASTIC_PASSWORD=
# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_HOST=
KIBANA_PASSWORD=
# Version of Elastic products
STACK_VERSION=
# Set the cluster name
CLUSTER_NAME=
# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=
#LICENSE=trial
# Port to expose Kibana to the host
KIBANA_PORT=
# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT= #4294967296
KB_MEM_LIMIT= #1073741824
LS_MEM_LIMIT= #1073741824
# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY= # at least 32 in quotes
