#mode {
	display: block;
	background-color:#0e0e0e;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 100%;
	flex-grow: 1;
	position: relative;
	color: aliceblue;
	background-size: 100% auto;
}

#mode h2{
	text-align: center;
}

#game-options{
	background-color:#0e0e0e;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 100%;
	position: relative;
	color: aliceblue;
	padding-top : 19vh;
	padding-left: 5vw;
}

.input-description{
	padding-top: 1vh;
}

#nameField{
	width: 12vw ;
}

.carousel-item img {
	height: 48vh;
	object-fit: contain; /* This will cover the whole area of the div without distorting the image */
}

.carousel-item {
	width: 100%;
	height:75vh;
	text-align: center;
	color: aliceblue
}

.carousel-inner{
	padding-top: 10vh;
}

button.carousel-control-prev, button.carousel-control-next{
	position: absolute;
}

.inline-options{
	width: 12vw;
}

#game-mode{
	padding-top: 1vh;
}

#pongGame{
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #0e0e0e;
	width: 100vw;
	overflow: hidden;
	scrollbar-width: none;
	box-sizing: border-box;
	border: rgba(240, 248, 255, 0.2) solid 4px;
}



#player1{
	position:absolute;
	display: block;
	background-color: #747474;
	width: 1.5vw;
	height: 15vh;
	border-radius: 10px;
}

#player2{
	position:absolute;
	display: block;
	background-color: #747474;
	width: 1.5vw;
	height: 15vh;
	border-radius: 10px;
}


#player1-score{
	position: absolute;
	top: 10vh;
	font-size: xx-large;
	right: 10vh;
	color: rgba(240, 248, 255, 0.2);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#round{
	top: 0%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgba(240, 248, 255, 0.2);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#match-round{
	top: 10%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgba(240, 248, 255, 0.2);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#player2-score{
	position: absolute;
	top: 10vh;
	font-size: xx-large;
	left: 10vh;
	color: rgba(240, 248, 255, 0.2);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#player1-name{
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(240, 248, 255, 0.5);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#player2-name{
	position: absolute;
	top: 0;
	right: 0;
	color: rgba(240, 248, 255, 0.5);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#ball{
	display: block;
	background-color: #ffffff;
	width: 1.25vw;
	height: 1.25vh;
	min-width: 15px;
	min-height: 15px;
	/* border-radius: 50%; */
	top: 0;
}