#mode{
	display: flex;
	justify-content: center;
	background-color:#0e0e0e;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 100%;
	position: relative;
}


.carousel-item img {
    height: 50vh;
    object-fit: contain; /* This will cover the whole area of the div without distorting the image */
}

.carousel-item {
    width: 100%; /* or any specific width */
    height:80vh; /* or any specific height */
	text-align: center;
	color: aliceblue
}

button.carousel-control-prev, button.carousel-control-next{
	position: absolute;
}

#game-mode{
	padding-top: 1vh;
}