<div id="lobby-wrapper">
	<h2>Match lobby</h2>

	<div id="side-participants" class="col-4">
		<p class="d-inline-flex gap-1">
			<button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#p-list" aria-expanded="false" aria-controls="p-list">
				Participants
			</button>
		</p>
		<div class="collapse" id="p-list">
			<div class="card card-body" style="background: linear-gradient(180deg, #6bd7f1, #3b3671);">
				<div class="listed-Player" id="p1"></div>
				<div class="listed-Player" id="p2"></div>
				<div class="listed-Player" id="p3"></div>
				<div class="listed-Player" id="p4"></div>
				<div class="listed-Player" id="p5"></div>
				<div class="listed-Player" id="p6"></div>
			</div>
		</div>
	</div>
	
	<div id="remaining" class="col-4">
		<p class="d-inline-flex gap-1">
			<button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#r-list" aria-expanded="false" aria-controls="r-list">
				remaining
			</button>
		</p>
		<div class="collapse" id="r-list">
			<div class="card card-body" style="background: linear-gradient(180deg, #6bd7f1, #3b3671);">
				<div class="listed-Player" id="r1"></div>
				<div class="listed-Player" id="r2"></div>
				<div class="listed-Player" id="r3"></div>
				<div class="listed-Player" id="r4"></div>
				<div class="listed-Player" id="r5"></div>
				<div class="listed-Player" id="r6"></div>
			</div>
		</div>
	</div>
</div>