<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
<h1 style="justify-content: center; display: flex;">TOURNAMENT</h1>

<h3>Next match:</h3>
<h2>VS</h2>

<div class="matchResult">
</div>
<div class="matchResult">
</div>
<div class="matchResult">
</div>

<h3>Participants</h3>
<div id="p1"></div>
<div id="p2"></div>
<div id="p3"></div>
<div id="p4"></div>
<div id="p5"></div>
<div id="p6"></div>
</body>
</html>