<div id="pongGame">
	<div id="line"></div>
	<div id="pause-screen"></div>
	<div id="winner"><button id="winner-name"></button></div>
	<div class="score">
		<div id="player1-name"></div>
		<div id="player1-score">0</div>
		<div id="player1-rounds"></div>
		<div id="player2-name"></div>
		<div id="player2-score">0</div>
		<div id="player2-rounds"></div>
	</div>
	<h3 id="game-over"></h3>
	<div id="p1">
		<div id="player1"></div>
	</div>
	<div id="p2">
		<div id="player2"></div>
	</div>
	<div id="ball"></div>
	<div id="game-back" onclick="changeURL('/game', 'Game Page', { game: true });">
		<button class="btn btn-dark">
			Back to games
		</button>
	</div>
</div>