<h2>TOURNAMENT RULES</h2>
<form>
	<div id="inline-options">
		<h5 class="input-description">SCORE TO WIN</h5>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score1" value="2">
			<label class="form-check-label" for="score">2</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score2" value="3" checked>
			<label class="form-check-label" for="score">3</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score3" value="4">
			<label class="form-check-label" for="score">4</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score4" value="5">
			<label class="form-check-label" for="score">5</label>
		  </div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score5" value="6">
			<label class="form-check-label" for="score">6</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score6" value="7">
			<label class="form-check-label" for="score">7</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="score" id="score7" value="8">
			<label class="form-check-label" for="score">8</label>
		</div>
	</div>
	<h5 class="input-description">ROUNDS TO WIN</h5>
	<div class="form-check form-check-inline" >
		<input class="form-check-input" type="radio" name="roundsToWin" id="roundsToWin" value="1" checked>
		<label class="form-check-label" for="roundsToWin">1</label>
	</div>
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="roundsToWin" id="roundsToWin" value="2">
		<label class="form-check-label" for="roundsToWin">2</label>
	</div>
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="roundsToWin" id="roundsToWin" value="3">
		<label class="form-check-label" for="roundsToWin">3</label>
	</div>
	</form>
	<button type="button" onclick="enterLocalTournament()" class="btn btn-dark" style="margin-top: 10px;">Let's Play!</button>