<form>
	<div class="mb-3">
	  <label for="Player 1" class="form-label">Player 1 Name</label>
	  <input type="name1" class="form-control" id="PlayerName">
	</div>
	<div class="mb-3">
	  <label for="Player 2" class="form-label">Player 2 Name</label>
	  <input type="name2" class="form-control" id="PlayerName">
	</div>
	<div class="mb-3 form-check">
	  <input type="checkbox" class="form-check-input" id="exampleCheck1">
	  <label class="form-check-label" for="exampleCheck1">Check me out</label>
	</div>
</form>
<button type="submit" class="btn btn-dark">Let's Play!</button>