<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Set New Password</title>
		<style>
			.error { color: red; }
		</style>
	</head>
	<body>
		<h2>Set New Password</h2>
		<form id="passwordForm" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="new_password1">New Password</label>
				<input type="password" name="new_password1" id="new_password1" class="form-control">
				<div id="new_password1_errors" class="error"></div>
			</div>
			
			<div class="form-group">
				<label for="new_password2">Confirm New Password</label>
				<input type="password" name="new_password2" id="new_password2" class="form-control">
				<div id="new_password2_errors" class="error"></div>
			</div>
			
			<button class="btn btn-dark"  type="submit">Change my password</button>
		</form>
	</body>
</html>