<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Set New Password</title>
	</head>
	<body>
		<h2>Set New Password</h2>
		<form id="passwordForm" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="new_password1">New Password</label>
				<input type="password" name="new_password1" id="new_password1" class="form-control">
			</div>
			
			<div class="form-group">
				<label for="new_password2">Confirm New Password</label>
				<input type="password" name="new_password2" id="new_password2" class="form-control">
			</div>
			<button class="btn btn-dark"  type="submit">Change my password</button>
		</form>
		<span id="errorMsg" style="color: red;"></span>
	</body>
</html>